$sm-width: 600px;

@mixin sm {
    @media (max-width : #{$sm-width}){
        @content;
    }
}



.eachMovie{
    width: 200px;
    height: 300px;
    transition: all .3s ease-in-out;
    @include sm(){
        width: 75vw;
    }
    &:hover .cardImage{
        transition: all .2s ease-in-out;
        transform: scale(.9);
    }
    .cardImage{
        transition: all .2s ease-in-out;
    }
}
