
$sm-width: 600px;
@mixin sm {
    @media (max-width : #{$sm-width}){
        @content;
    }
}



.movieType{
    color: #ffffff;
    text-align: center;
    margin: 50px auto;
}
.container{
    margin-bottom: 30px;
    .row{
        .col{
            margin-bottom:100px;
            @include sm(){
                width: 80vw;
                height: 50vh;
                margin: 50px ;
            }
        }
    }

}
